footer.mainFooter
  img.mainFooter__logo(src="images/de_black.svg",   alt="denari01")
  img.mainFooter__social(src="images/facebook.svg", alt="facebook")
  img.mainFooter__social(src="images/twitter.svg",  alt="twitter")
  img.mainFooter__social(src="images/wantedly.svg", alt="wantedly")
  img.mainFooter__social(src="images/github.svg",   alt="github")
  small.mainFooter__copyright
    | &copy; 2015
    a(href="http://denari.link") denari01
