mixin menu(page_name)
  nav.mainNavigation
    ul
      - var menu_array = ["top", "about me", "blog", "code", "design"]
      for menu in menu_array
        if page_name != menu
          li
            if menu === "about me"
              a(href="about_me.html")=menu
            else if menu === "top"
              a(href="index.html")=menu
            else
              a(href=menu+".html")=menu
