footer.pageFooter
  .pageFooter__accounts.accounts
    .accounts__account.accounts_account--facebook
      a(href="https://facebook.com/denari01")
        img(src="images/facebook.svg", alt="facebook")
    .accounts__account.accounts_account--twitter
      a(href="https://twiter.com/denari01")
        img(src="images/twitter.svg", alt="twitter")
    .accounts__account.accounts_account--wantedly
      a(href="https://www.wantedly.com/users/3087522")
        img(src="images/wantedly.svg", alt="wantedly")
    .accounts__account.accounts_account--github
      a(href="https://github.com/denari")
        img(src="images/github.svg", alt="github")
  .pageFooter__copyright
    p
      small
        a(href="http://denari.link/") &copy; 2016 denari01
    
