- classList = relativePath.match(/[a-zA-Z\_]+/g);
- classList.pop();
- title = classList[classList.length-1];
- title = title.replace(/\_/, ' ').replace(/index/, 'about me');
header.pageHeader
  h1.pageHeader__title
    img(src="images/de.svg" alt="denari.link")
  nav.pageHeader__mainNavigation.mainNavigation
    ul.mainNavigation__list.mainNavigation__list--left
      li
        a(href="/index.html") about me
      li
        a(href="http://denari01.hatenablog.com") blog
      li
        a(href="/code.html") code
    ul.mainNavigation__list.mainNavigation__list--right
      li
        a(href="/design.html") design
      li
        a(href="/event.html") event
      li
        a(href="/presentation.html") presentation
  h2.pageHeader__pageTitle.pageTitle
    if classList.length < 2
      img.pageTitle__icon(src="images/" + title.replace(/\s/, '_') + ".svg"
                          alt=title)
    | #{title}
