.mainFooter
  background footer-bg
  &__logo
    height     165px
    width      230px
    display    block
    text-align center
    margin     0 auto
    padding    60px 0 20px
    opacity    0.4
  &__socials
    max-width  460px
    margin     0 auto
  &__social
    height     72px
    width      72px
    display    inline-block
    margin     20px
    text-align center
    opacity    0.7
    &:hover
      opacity 1.0
  &__copyright
    text-align center
    display    block
    margin     30px 0 -12px
    padding-bottom 60px
    a
      color #666666
