.pageHeader
  display block
  &__title
    height  109px
    width   100%
    display block
    position absolute
    img
      display block
      margin  18px auto 22px
      height  69px
      width   91px
  &__mainNavigation
    display  block
    height   109px
    width    content-width
    margin   0 auto
    position relative

.mainNavigation
  &__list
    width           40%
    display         inline-flex
    justify-content space-around
    height          109px
    align-items     center
    &--right
      position absolute
      right    0
    li
      a
        text-decoration none
        text-shadow     shadow
        &:hover
          text-decoration underline

.pageTitle
  display                 block
  text-align              center
  height                  610px
  width                   content-width
  margin                  0 auto
  display                 -webkit-flex
  display                 flex
  -webkit-flex-direction  column
  flex-direction          column
  -webkit-justify-content center
  justify-content         center
  position                relative
  font-size               32px
  background-image        linear-gradient(135deg, #d66cb9, #f7931e)
  &::before
    content          ''
    background-image url('../images/denari.png')
    background-size  cover
    display          block
    position         absolute
    top              0
    right            0
    height           610px
    width            content-width
    box-shadow       shadow
    opacity          0.4
  &__icon
    height   156px
    width    87px
    display  block
    margin   0 auto
    position relative
    bottom   30px
  &__title
    position    relative
    bottom      30px
    text-shadow shadow
