.mainHeader
  background-color #08c
  display          block
  .top &
    height       100%
  &__logo
    display    block
    text-align center
    height     165px
    width      230px
    margin     0 auto
    position   relative
    top        30%

.mainNavigation
  ul
    margin     0 auto
    display    block
    text-align center
    position   fixed
    bottom     50px
    width      100%
  li
    display inline-block
    margin 0 30px 20px
    a
      color           menu-font-color
      font-size       24px
      text-decoration none
      font-weight     bold
      &:hover
        text-decoration underline
