@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  background-color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  height: 100%; }

.d {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  font-size: 3rem;
  margin-top: 20%; }
