brand_color        = #ccc
brand_accent_color = #bbb
title_underline    = 4px solid brand_color
article_rule       = 1px solid #cccccc

menu_bar_bg         = brand_color
menu_bar_border     = 5px solid darken(brand_color, 20%)
menu_list_border    = 2px solid darken(brand_color, 20%)
menu_list_hover_bg  = darken(brand_color, 20%)
menu_contact_bg     = brand_accent_color
menu_contact_border = 2px solid darken(brand_accent_color, 20%)

menu_toggle_button_color = white
