// # style.styl
// コンパイルされるStylusファイル
// 主に順序どおりに@import するだけの役割

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'

// 自分で書いたstylusを読み込む
@import 'reset.styl'
@import 'params.styl'
@import 'general.styl'
@import 'header.styl'
